@media (max-width: 575px) {
    .hobbie-image img {
        max-width: 35%;
    }
}

@media (min-width: 576px) {
    .hobbie-image img {
        max-width: 35%;
    }
}

@media (min-width: 768px) {
    .hobbie-image img {
        max-width: 100%
    }
}

@media (min-width: 992px) {
    .hobbie-image {
        padding-top: 20px !important;
    }
    .hobbie-image img {
        max-width: 80%
    }
    #fitness-image {
        padding-top: 30px!important;
    }
}

@media (min-width: 1200px) {
    .hobbie-image img {
        max-width: 50%
    }
    #fitness-image {
        padding-top: 30px!important;
    }
}

input.form-control::placeholder {
    color: #ababab;
}

textarea.form-control::placeholder {
    color: #ababab;
}